[[mgr.prepend_keymap]]
on   = "|"
run  = "shell 'fish -c \"yazi_vsplit $1\"' --confirm"
desc = "Vertical Split"

[[mgr.prepend_keymap]]
on   = "<S-k>"
run  = "shell 'fish -c \"yazi_vsplit $1\"' --confirm"
desc = "Vertical Split"

[[mgr.prepend_keymap]]
on   = "\\"
run  = "shell 'fish -c \"yazi_hsplit $1\"' --confirm"
desc = "Horizontal Split"

[[mgr.prepend_keymap]]
on   = "<S-j>"
run  = "shell 'fish -c \"yazi_hsplit $1\"' --confirm"
desc = "Horizontal Split"

[[mgr.prepend_keymap]]
on   = "<c-o>"
run  = "plugin fzf-proj"
desc = "fzf projects"

# ya pkg install
[[mgr.prepend_keymap]]
on = "<C-y>"
run = ["plugin system-clipboard"]

[[mgr.prepend_keymap]]
on   = "<c-space>"
run  = "plugin fzf-proj"
desc = "fzf projects"

[[mgr.prepend_keymap]]
on   = "<c-enter>"
run  = "plugin fzf-proj"
desc = "fzf projects"

[[mgr.prepend_keymap]]
on   = "<a-enter>"
run  = "plugin fzf-proj"
desc = "fzf projects"

[[mgr.prepend_keymap]]
on   = "T"
run  = "shell 'fish -c \"yazi_new_tab $1\"' --confirm"
desc = "New Tab"

[[mgr.prepend_keymap]]
on   = "I"
run  = "shell 'fish -c \"yazi_new_tab $1\"' --confirm"
desc = "New Tab"

[[mgr.prepend_keymap]]
on   = "<a-p>"
run  = "shell 'fish -c \"echo && echo -n (realpath $1) && nvim_of && sleep 10\"' --block --confirm"
desc = "Print path"

[[mgr.prepend_keymap]]
on   = ["<c-g>"]
run  = "shell 'fish -c \"lazygit\"' --block"
desc = "Lazygit in New Tab"

# Since i don't have much use for running non blocking shell from yazi
# If I do i can remap
[[mgr.prepend_keymap]]
on   = ";"
run  = "shell 'fish' --block --confirm"
desc = "Fish Shell"

[[mgr.prepend_keymap]]
on   = "<c-x>"
run  = "shell 'fish' --block --confirm"
desc = "Fish Shell"

[[mgr.prepend_keymap]]
on   = "<a-s>"
run  = "shell 'fish -c \"hx_tv $1\"' --block --confirm"
desc = "HX TV Text"

# TODO: Fix hack yazi in yazi later
[[mgr.prepend_keymap]]
on   = "<a-t>"
run  = "shell 'fish -c \"yazi_tv_text $1\"' --block --confirm"
desc = "Yazi TV Text"

[[mgr.prepend_keymap]]
on   = "<a-g>"
run  = "shell 'fish -c \"yazi_tv_git $1\"' --block --confirm"
desc = "Yazi TV Git"

[[mgr.prepend_keymap]]
on   = "<c-s>"
run  = "find --smart"
desc = "Find next file"

[[mgr.prepend_keymap]]
on   = "<c-.>"
run  = "escape --search"
desc = "Cancel the ongoing search"

[[mgr.prepend_keymap]]
on   = [ "g", "b" ]
run  = "cd ~/bar"
desc = "Cd to ~/bar"

[[mgr.prepend_keymap]]
on   = [ "g", "y" ]
run  = "cd ~/.config/dotfiles/yazi"
desc = "Cd to Yazi config"

[[mgr.prepend_keymap]]
on   = [ "g", "s" ]
run  = "cd ~/scripts"
desc = "Cd to ~/scripts"

[[mgr.prepend_keymap]]
on   = [ "g", "A" ]
run  = "cd /Applications"
desc = "Cd to /Applications"

[[mgr.prepend_keymap]]
on   = [ "g", "T" ]
run  = "cd ~/.Trash/"
desc = "Cd to Trash"

[[mgr.prepend_keymap]]
on   = [ "g", "d" ]
run  = "cd ~/.config/dotfiles"
desc = "Cd to ~/.config/dotfiles"

[[mgr.prepend_keymap]]
on   = [ "g", "t" ]
run  = "cd /tmp"
desc = "Cd to /tmp"

[[mgr.prepend_keymap]]
on   = [ "g", "p" ]
run  = "cd ~/proj"
desc = "Cd to ~/proj"

# NOTE: This remaps symlink
[[mgr.prepend_keymap]]
on  = "-"
run = 'cd ..'
# TODO: could make _ go the opposite way

[[mgr.prepend_keymap]]
on  = "<C-->"
run = 'cd ..'

[[mgr.prepend_keymap]]
on   = "<C-Enter>"
run  = "enter"
desc = "Enter"

[[mgr.prepend_keymap]]
on   = "<C-m>"
run  = "open"
desc = "open"

[[mgr.prepend_keymap]]
on   = "<C-l>"
run  = "enter"
desc = "Enter"

[[mgr.prepend_keymap]]
on   = "<Backspace>"
run  = "leave"
desc = "Leave"

[[mgr.prepend_keymap]]
on   = "<C-Backspace>"
run  = "leave"
desc = "Leave"

[[mgr.prepend_keymap]]
on   = "<C-j>"
run  = "shell 'fish -c \"cd (git_repo_dir $1); nvim $@\"' --block --confirm"
desc = "Open with nvim"

[[mgr.prepend_keymap]]
on   = "<C-f>"
run  = "plugin fzf"
desc = "fzf"

[[mgr.prepend_keymap]]
on   = "<A-j>"
run  = "shell 'fish -c \"cd (git_repo_dir $1); nvim_find_files\"' --block --confirm"
desc = "Open project with nvim"

[[mgr.prepend_keymap]]
on   = "<A-k>"
run  = "shell 'fish -c \"cd (git_repo_dir $1); nvim_find_files\"' --block --confirm"
desc = "Open project with nvim"

[[mgr.prepend_keymap]]
on   = "<A-h>"
run  = "shell 'fish -c \"cd (git_repo_dir $1); hx .\"' --block --confirm"
desc = "Open project with helix"

[[mgr.prepend_keymap]]
on   = "<C-e>"
run  = "shell 'fish -c \"cd (git_repo_dir $1); emacsclient -c $@\"' --block --confirm"
desc = "Open with emacs"

# TODO: Display sent message toast
[[mgr.prepend_keymap]]
on   = "<A-E>"
run  = "shell 'fish -c \"nvim_main_send_files $@\"' --confirm"
desc = "Send to nvim remote main"

# TODO: Support multiple files
[[mgr.prepend_keymap]]
on   = "<A-e>"
run  = "shell 'fish -c \"nvim_main_send_files $1 &; nvim_join_session main\"' --block --confirm"
desc = "Send to nvim remote main && join sesion"

[[mgr.prepend_keymap]]
on   = "<C-h>"
run  = "plugin zoxide"
desc = "zoxide"

[[mgr.prepend_keymap]]
on   = "<A-i>"
run  = "plugin zoxide"
desc = "zoxide"

[[mgr.prepend_keymap]]
on   = "<C-k>"
run  = "shell 'fish' --block --confirm"
desc = "Fish Shell"

[[mgr.prepend_keymap]]
on   = "<C-n>"
run  = "shell 'fish -c \"neogitlog 500\"' --confirm --block"
desc = "Open Neogit Log in new tab"

[[mgr.prepend_keymap]]
on   = "<A-n>"
run  = "shell 'fish -c \"neogitdiffmain\"' --confirm --block"
desc = "Open Neogit Log in new tab"

[[mgr.prepend_keymap]]
on   = "<A-d>"
run  = "shell 'fish -c \"neogitdiff\"' --confirm --block"
desc = "Open Neogit Diff Main in new tab"

[[mgr.prepend_keymap]]
on   = [ "c", "m" ]
run  = "plugin chmod"
desc = "Chmod on selected files"
