gui:
  theme:
    activeBorderColor:
      # - yellow
      # - bold
promptToReturnFromSubprocess: false
notARepository: skip
customCommands:
  - key: "I"
    command: "set p {{ .SelectedWorktree.Path }}/{{ if .SelectedFile }}{{ .SelectedFile.Name }}{{ end }} && fish -C \"set p $p\" -c \"yazi_new_tab '$p'\""
    context: "global"
    description: "Yazi"
  - key: "K"
    command: "fish -c \"hx_new_tab '{{ .SelectedWorktree.Path }}'\""
    context: "global"
    description: "Yazi"
  - key: "<c-k>"
    command: "p={{ .SelectedWorktree.Path }}/{{ if .SelectedFile }}{{ .SelectedFile.Name }}{{ end }} && fish -C \"set p $p\" -c \"hx_new_tab '$p'\""
    context: "global"
    description: "Yazi"
keybinding:
  universal:
    nextScreenMode: "<c-j>"
